
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4><%= @producer.name.upcase %></h4></div>
  <div class="panel-body">
    <p>missing description</p>
  </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
      <strong>bug: </strong><%= @producer.bug %> <br />
    </li>
    <li class="list-group-item">
      <strong>internals: </strong><%= @producer.internals %> <br />
    </li>
    <li class="list-group-item">
      <strong>exceptions: </strong><%= @producer.exceptions %> <br />
    </li>
    <li class="list-group-item">
      <strong>components: </strong><%= @producer.components %> <br />
    </li>
    <li class="list-group-item">
      <strong>gives: </strong><%= @producer.gives %>
    </li>
  </ul>
</div>