
<h1><%= @producer.name %> </h1>
<strong>bug: </strong><%= @producer.bug %> <br />
<strong>internals: </strong><%= @producer.internals %> <br />
<strong>exceptions: </strong><%= @producer.exceptions %> <br />
<strong>components: </strong><%= @producer.components %> <br />
<strong>gives: </strong><%= @producer.gives %>