<!DOCTYPE html>
<html>
<head>
  <title>Rails03Feb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
<% if params[:action] == "index" %>
  <%= link_to "new producer".upcase, new_producer_path %>
<% elsif params[:action] == "new" %>
  <%= link_to "home".upcase, producers_path %>
<% else %>
  <%= link_to "new producer".upcase, new_producer_path %>
  <%= link_to "home".upcase, producers_path %>
<% end %>
</br></br>
</div>

<%= yield %>

</body>
</html>
